body{
	background-color: #757575;
	width: 800px;
	margin: 0px auto
}

.menu{
	background-color: #673ab7;
	height: 34px;
	text-align: center;
}

.leftSide{
	width: 100px;
	float: left;
}

.main{
	background-color:  #494949;
	width: 600px;
	float :left;
}

.rightSide{
	background-color: khaki;
	width: 100px;
	float: left;
}

.footer{
	background-color: skyblue;
}

.menu>ul>li{
	display:inline;
	padding: 10px;
	position: relative;
	top:8px;
	font-family: Tahoma, serif;
	font-size: 15px;
}

.menu>ul>li>a{
	text-decoration: none;
	color: white;
}

.gallery img{
	max-width: 100px;
}

.menu-gallery{
	text-align: center;
}

.ava{
	float: left;
	width: 100%;	
}